#Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

#virtual env
venv/
.env/
.venv/
.env

#Hydra outputs
outputs/
multirun/

#logs
logs/
*.log

#checkpoints / model weights
checkpoints/
*.pt
.pth

#data artifacts
/data/
!/data/.gitkeep
/datasets/

# vector db
chroma_clova/
chroma_local/
chroma_openai/

#system files
.DS_Store
Thumbs.db

#editor
.vscode/

#notebook cache
.ipynb_checkpoints/ 

#node / frontend
**/node_modules/
frontend-web/dist/
frontend-web/.vite/
