fastapi
uvicorn
requests
pandas
tqdm
pymupdf
kiwipiepy
langchain-core
langchain-chroma
langchain-community
langchain-openai
langchain-naver
langchain-huggingface
sentence-transformers
rank_bm25
bert-score
python-dotenv